<div>
  <button class="add" mat-raised-button color="accent" (click)="onAddProcess()">
    New Process
  </button>
  &nbsp;

  <button (click)="profile()" mat-raised-button color="accent">
    Analytics
  </button>

  &nbsp;
  <button (click)="editLimits(this.limits[0])" mat-raised-button color="accent">
    Daily/Weekly Limits
  </button>

<button class='right' (click)="logOut()" mat-raised-button color="accent">Log Out</button>
  &nbsp;
</div>

<h1> Welcome, {{user}}</h1>

<mat-card class="limit-card">
  <mat-card-title class="limit-card-title">Today's Limit</mat-card-title>
  <mat-card-content class="limit-card-body">{{this.dailyH}} hours and {{this.dailyM}} minutes</mat-card-content>
</mat-card>

<process-table></process-table>
