mat-card.limit-card {
  width: 25%;
  margin: 0 auto;
  background-color: #00E676;
  text-align: center;
}

mat-card-content.limit-card-body {
  font-size: medium;
}

.mat-raised-button {
  margin-right: 1rem;
}

.mat-card-actions{
  padding: 0px;
  margin: 0px;
}