mat-card.limit-card {
  width: 25%;
  margin: 0 auto;
  background-color: #00E676;
  text-align: center;
}

mat-card-content.limit-card-body {
  font-size: medium;
}

/* .right {
  position: fixed;
  right: 0;
} */
/* .navbar {
  justify-content: space-between;
}
span {
  padding-right: 1rem;
} */
.mat-raised-button {
  margin-right: 1rem;
}

.mat-card-actions{
  padding: 0px;
  margin: 0px;
}
