.mat-card-title {
  text-align: center;
}

.mat-card.border {
  background-color: #05f283;
  width: max-content;
  height: max-content;
  margin: 0 auto;
}

.mat-raised-button {
  margin-left: 10rem;
}