<mat-card class="app-edit-form">
  <mat-card-title>Edit Process</mat-card-title>

  <mat-dialog-content [formGroup]="editForm" >
      <mat-form-field>
        <label> Process Name </label>
        <input matInput type="text" formControlName='processName' class = 'form-control' required>
      </mat-form-field>

      <br>

      <mat-form-field>
        <label> Time Limit (Hours) </label>
        <input matInput type="text" formControlName='timeLimitH' class = 'form-control' required>
      </mat-form-field>

      <mat-form-field>
        <label> Time Limit (Minutes) </label>
        <input matInput type="text" formControlName='timeLimitM' class = 'form-control' required>
      </mat-form-field>

      <mat-form-field>
        <label> Warnings </label>
        <input matInput type="number[]" formControlName='warnings' class = 'form-control' required>
      </mat-form-field>

      <br>
      <br>
      <br>
      <mat-dialog-actions>
        <button mat-raised-button color="warn" (click)="exitWithoutSave()">Cancel</button>
        <button mat-raised-button color="accent" (click)="saveChanges()">Save</button>
      </mat-dialog-actions>
  </mat-dialog-content>


</mat-card>
