
<h1> About the Team</h1>

    <mat-card class="team-card1">
      <mat-card-title>William DesMarteau</mat-card-title>
      <mat-card-subtitle>Computer Science Student at University of South Carolina</mat-card-subtitle>
      <mat-card-content>
        <h1>Socials:</h1>
        <p> Email: desmartw@email.sc.edu</p>
        <a href="https://www.linkedin.com/in/wils-desmarteau-797610199">LinkedIn </a>
      </mat-card-content>
    </mat-card>

    <mat-card class="team-card1">
      <mat-card-title>Keli Alan</mat-card-title>
      <mat-card-subtitle>Computer Science Student at University of South Carolina</mat-card-subtitle>
      <mat-card-content>
        <h1>Socials:</h1>
        <p> Email: alankelli64@gmail.com</p>
        <a href="https://www.linkedin.com/in/kelli-alan-2a23a217b?">LinkedIn  </a>
      </mat-card-content>
    </mat-card>

    <mat-card class="team-card1">
      <mat-card-title>Branavan Kalapathy</mat-card-title>
      <mat-card-subtitle>Computer Engineering Student at University of South Carolina</mat-card-subtitle>
      <mat-card-content>
        <h1>Socials:</h1>
        <p> Email: kalapatb@email.sc.edu</p>
      </mat-card-content>
    </mat-card>

    <mat-card class="team-card1">
      <mat-card-title>Patterson Howell</mat-card-title>
      <mat-card-subtitle>Computer Science Student at University of South Carolina</mat-card-subtitle>
      <mat-card-content>
        <h1>Socials:</h1>
        <p> Email: pattersonhowell12@gmail.com</p>
        <a href="https://www.linkedin.com/in/patterson-howell-5857a9202">LinkedIn  </a>
      </mat-card-content>
    </mat-card>

    <mat-card class="team-card1">
      <mat-card-title>Zhiquan Xie</mat-card-title>
      <mat-card-subtitle>Computer Science Student at University of South Carolina</mat-card-subtitle>
      <mat-card-content>
        <h1>Socials:</h1>
        <p> Email: zhiquan@email.sc.edu</p>
      </mat-card-content>
    </mat-card>
    <!-- </div> -->
