<div>
  <h2>Welcome, {{user}}</h2>
</div>


<mat-table [dataSource]="Process">
  <!-- Process Column -->
 <ng-container matColumnDef="processName">
    <mat-header-cell *matHeaderCellDef>Process Name from DB </mat-header-cell>>
    <mat-cell *matCellDef="let process of Process; let i = index">{{ process.processName }}</mat-cell>>
  </ng-container>

  <ng-container matColumnDef="timeLimit">
    <mat-header-cell *matHeaderCellDef>Time Limit</mat-header-cell>>
    <mat-cell *matCellDef="let process">
      {{ process.timeLimitH }} hrs
      {{ process.timeLimitM }} mins
      <! {{ getTotalSeconds(process.timeLimitH, process.timeLimitM)}} secs >
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="warnings">
    <mat-header-cell *matHeaderCellDef>Warnings</mat-header-cell>>
    <mat-cell *matCellDef="let process">{{ process.warnings }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>>
    <mat-cell *matCellDef="let process">
      <button mat-button (click) = 'onStart(getTotalSeconds(process.timeLimitH, process.timeLimitM))' class="table-button" mat-raised-button color="accent">
        <mat-icon class="table-icon">check_box</mat-icon>
        Select
      </button>

      <button mat-button class="table-button" mat-raised-button color="primary">
        <mat-icon class="table-icon">edit</mat-icon>
        Edit
      </button>

      <button mat-button class="table-button" mat-raised-button color="warn">
        <mat-icon (click) = removeProcess(this.process) class="table-icon">delete</mat-icon>
        Delete
      </button>
    </mat-cell>
  </ng-container>

   <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
</mat-table>

<timer-start></timer-start>
