<div *ngIf="changeDisplay()"> 
<mat-card class="timer-card" style = "background-color: #f44336" >
  <mat-card-title class="timer-card-title">{{timerText}}</mat-card-title>
  <mat-card-content class="timer-card-body">
      <countdown #cd [config]="{leftTime: realTime, notify: 0}" (event)="handleEvent1($event)"></countdown>
  </mat-card-content>
    <span *ngIf="timerText != 'Start a Process Timer'">
      <button mat-mini-fab color="primary" (click)="cd.resume()">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="cd.pause()">
        <mat-icon>pause</mat-icon>
      </button>
      <button mat-mini-fab color="warn" (click)="resetToZero()">
        <mat-icon>stop</mat-icon>
      </button>
    </span>
    <p class="usage">Weekly Usage: {{cumulativeHoursWeek}} hours and {{cumulativeMinsWeek}} minutes</p>
    <p class="usage">Today's Usage: {{cumulativeHours}} hours and {{cumulativeMins}} minutes</p>
</mat-card>
</div>

<div *ngIf="!changeDisplay()"> 
  <mat-card class="timer-card" style = "background-color: #00E676;" >
    <mat-card-title class="timer-card-title">{{timerText}}</mat-card-title>
    <mat-card-content class="timer-card-body">
        <countdown #cd [config]="{leftTime: realTime, notify: 0}" (event)="handleEvent1($event)"></countdown>
    </mat-card-content>
      <span *ngIf="timerText != 'Start a Process Timer'">
        <button mat-mini-fab color="primary" (click)="cd.resume()">
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="cd.pause()">
          <mat-icon>pause</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="resetToZero()">
          <mat-icon>stop</mat-icon>
        </button>
      </span>
      <p class="usage">Weekly Usage: {{cumulativeHoursWeek}} hours and {{cumulativeMinsWeek}} minutes</p>
      <p class="usage">Today's Usage: {{cumulativeHours}} hours and {{cumulativeMins}} minutes</p>
  </mat-card>
  </div>


<div class ="grid-container">
<div class = "grid-child">
  <h2>Sort by Time Limit
  </h2>
  <div>
  <mat-radio-group [(ngModel)] = "sortByTimeLimitKey">
    <mat-radio-button value="up">Most to least</mat-radio-button>
    <h2> </h2>
    <mat-radio-button value="down">Least to most</mat-radio-button>
  </mat-radio-group>
  </div>
  <div>
    <h2> </h2>
  <button (click)="sortByTimeLimit(sortByTimeLimitKey)">Sort</button>
  &nbsp;
  <button (click)="restore()">Clear Sort</button>
  </div>

</div>
  <div class ="grid-child">
    <h2>Filter by Time Limit</h2>
    <input type="text" [(ngModel)]="filterKey" class="searchTerm" placeholder="Enter a time limit (H:M)">
    <button (click)="filter(filterKey)">filter</button>
    &nbsp;
    <button (click)="restore()">clear filter</button>
    <section>
      <mat-checkbox (change)="setOption('less')">less than</mat-checkbox>
      <mat-checkbox (change)="setOption('greater')">greater than</mat-checkbox>
      <mat-checkbox (change)="setOption('equal')">equal</mat-checkbox>
    </section>
  </div>
</div>

<div class="search-bar">
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input #searchBar matInput type="text" (keyup)="searchProcesses(searchBar.value)">
  </mat-form-field>
  <span class="add-button">
    <button mat-raised-button color="accent" (click)="onAddProcess()">
      New Process
    </button>
  </span>
</div>

<table mat-table [dataSource]="dataSource" matSort>
  <!-- Process Column -->
 <ng-container matColumnDef="processName">
    <th mat-header-cell mat-sort-header *matHeaderCellDef>Process Name</th>
    <td mat-cell *matCellDef="let process">{{ process.processName }}</td>
  </ng-container>

  <ng-container matColumnDef="timeLimit">
    <th mat-header-cell *matHeaderCellDef>Time Limit
    </th>
    <td mat-cell *matCellDef="let process">
      {{ process.timeLimitH }} hrs
      {{ process.timeLimitM }} mins
      <!-- {{ getTotalSeconds(process.timeLimitH, process.timeLimitM)}} secs -->
    </td>
  </ng-container>

  <ng-container matColumnDef="warnings">
    <th mat-header-cell *matHeaderCellDef>Warnings</th>
    <td mat-cell *matCellDef="let process">{{displayWarnings(process)}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>>
    <td mat-cell *matCellDef="let process">
      <button mat-button [disabled] = 'changeDisplay() || timerText != "Start a Process Timer" '
          (click) = 'onStart(getTotalSeconds(process.timeLimitH, process.timeLimitM), process.processName, process)' class="table-button" mat-raised-button color="accent">
          <mat-icon class="table-icon">play_arrow</mat-icon>
      </button>


      <button mat-button 
              [disabled]="processRunning && 
                          process.processName == this.processService.getProcessName()" 
              class="table-button" mat-raised-button color="primary" 
              (click) = 'editProcess(this.process)'>
        <mat-icon class="table-icon">edit</mat-icon>
      </button>

      <button mat-button 
              [disabled]="processRunning && 
                          process.processName == this.processService.getProcessName()"
              class="table-button" mat-raised-button color="warn"
              (click) = 'removeProcess(this.process)'>
        <mat-icon class="table-icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

   <tr class="header" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr class = "body-rows" mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>








<!--timer-start></timer-start-->
