mat-card.video-demo-card {
  // width: 25%;
  // margin: 0 auto;
  // text-align: left;
  display: flex;
  justify-content:center;
  align-items:center;
}
.videoheader{
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 600px;
  max-height: 400px;
}
