<h1>Welcome to the Screen Time Limiter!</h1>

<h2>Do you...</h2>
<ul>
  <li>Procrastinate by playing video games?</li>
  <li>Lose sleep trying to get to the next level?</li>
  <li>Waste time on social media?</li>
  <li>Feel addicted to your screen?</li>
</ul>
<p>If so, register to track your habits and limit your app usage today!</p>
<a href="https://github.com/SCCapstone/BitSquad"> Check out our Code on GitHub </a>

<h1 class="videoheader">Demo video placeholder</h1>
<mat-card class="video-demo-card" style="background-color: #00e676">
  <youtube-player
    videoId="oM3O5lj1uv0"
    suggestedQuality="highres"
    [height]="400"
    [width]="740"
    [startSeconds]="0"
    [endSeconds]="30"
  >
  </youtube-player>
</mat-card>

<hr />
<h2 class="about-title">How it works</h2>
<mat-card class="about">
  <mat-card-content>
    <h3>User Home Page</h3>
    <p>
      Logged-in users are taken to their home page, which contains a table with
      the all the processes they are currently tracking, which can be edited,
      deleted, sorted, and filtered.
    </p>
    <p>
      To add a process, click the "New Process" button in the upper left-hand
      corner
    </p>
    <img
      src="assets/images/newHomePageScreenshot.png"
      height="400"
      width="650"
      border="5px"
    />
  </mat-card-content>
</mat-card>
<hr />
<mat-card class="about">
  <mat-card-content>
    <h3>Add Processes</h3>
    <p>
      A new process, Apex Legends, can be added to the table by filling out
      the form as seen below and clicking "Create Process" at the bottom of the
      form
      <img
        src="assets/images/add-process.png"
        height="400"
        width="650"
        border="5px"
      /></p
  ></mat-card-content>
</mat-card>
<hr />
<mat-card class="about">
  <mat-card-content>
    <h3>Start a Timer</h3>
    <p>Apex Legends with a time limit of 1 minute is running</p>
    <p>
      <img
        src="assets/images/start-timer.png"
        height="400"
        width="650"
        border="5px"
      /></p
  ></mat-card-content>
</mat-card>
<hr />

<mat-card class="about">
  <mat-card-content>
    <h3>Get notified when its time to quit</h3>
    <p>
      <img
        src="assets/images/notification.png"
        height="350"
        width="650"
        border="5px"
      /></p
  ></mat-card-content>
</mat-card>
<hr />

<mat-card class="about">
  <mat-card-content>
    <h3>View your usage for all processes on the analytics page, accessible by the "Analytics" button on the user page toolbar</h3>
    <p>
      <img
        src="assets/images/AnalyticsScreenshot.png"
        height="400"
        width="800"
        border="5px"
      /></p
  ></mat-card-content>
</mat-card>
<hr />
