mat-card.video-demo-card {
  display: flex;
  justify-content:center;
  align-items:center;
}
.videoheader{
  width: 25%;
  margin: 0 auto;
  text-align: center;
}

img {
  max-width: 650px;
  max-height: 400px;
}

.about-title {
  margin: 0 auto;
  font-size: xx-large;
  text-align: center;
}

.about {
  margin: 0 auto;
}