<mat-card class="add-process-page">
  <mat-card-title>Add Process</mat-card-title>

  <mat-card-content>
    <form [formGroup]="processForm" (ngSubmit)='onSubmit()' novalidate>

      <mat-form-field>
        <label> Process Name </label>
        <input matInput type="text" formControlName='processName' class = 'form-control' required>
      </mat-form-field>

      <br>

      <mat-form-field>
        <label> Time Limit (Hours) </label>
        <input matInput type="text" formControlName='timeLimitH' class = 'form-control' required>
      </mat-form-field>

      <mat-form-field>
        <label> Time Limit (Minutes) </label>
        <input matInput type="text" formControlName='timeLimitM' class = 'form-control' required>
      </mat-form-field>

      <mat-form-field>
        <label> Warnings </label>
        <input matInput type="number[]" formControlName='warnings' class = 'form-control' required>
      </mat-form-field>

      <br>
      <br>
      <br>
      <button mat-raised-button color="accent"
        (click)="onSubmit()">Create Process</button>

    </form>
  </mat-card-content>


</mat-card>
