h1 {
  text-align: center;
  font-weight: bold;
}

mat-form-field.time {
  margin-right: 1%;
}
.navbar {
  justify-content: space-between;
}
span {
  padding-right: 1rem;
}

.mat-card.add-process-page {
  width: fit-content;
  margin: 0 auto;
}

.mat-card.border {
  background-color: #05f283;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.mat-dialog-actions {
  margin-bottom: 1%;
}

