<h1 mat-dialog-title>Add Process</h1>

<mat-dialog-content [formGroup]="processForm">

  <mat-form-field>
    <input matInput type="text" formControlName='processName' class = 'form-control'  placeholder="Process Name" required>
    <mat-error *ngIf="processName.errors?.required">Process name required</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field class="time">
    <input matInput type="number" formControlName='timeLimitH' class = 'form-control' placeholder="Time Limit (Hours)" required>

    <mat-error *ngIf="timeLimitH.errors?.required">Number of hours required</mat-error>
    <mat-error *ngIf="!timeLimitH.errors?.required">
      Hours must be a positive whole number between 0 and 24
    </mat-error>

  </mat-form-field>

  <mat-form-field class="time">
    <input matInput type="number" formControlName='timeLimitM' class = 'form-control' placeholder="Time Limit (Minutes)" required>

    <mat-error *ngIf="timeLimitM.errors?.required">Number of minutes required</mat-error>
    <mat-error *ngIf="!timeLimitM.errors?.required">
      Minutes must be a positive whole number between 0 and 59
    </mat-error>

  </mat-form-field>

  <!--edge case time checks-->
  <mat-error *ngIf="processForm.errors?.zeroTime">Minimum time limit is 1 minute</mat-error>
  <mat-error *ngIf="processForm.errors?.over24Hours">
    Maximum time limit is 24 hours and 0 minutes
  </mat-error>

  <p> Warning 1:
    <mat-form-field>
      <input matInput type="number" formControlName='warning1' class = 'form-control' placeholder="Minutes Remaining">
      <mat-error *ngIf="warning1.errors?.min">Warnings must be at least 1</mat-error>
      <mat-error *ngIf="warning1.errors?.containsDecimal">
        Warnings must be a whole number
      </mat-error>
    </mat-form-field>
  </p>

  <p> Warning 2:
    <mat-form-field>
      <input matInput type="number" formControlName='warning2' class = 'form-control' placeholder="Minutes Remaining">
      <mat-error *ngIf="warning2.errors?.min">Warnings must be at least 1</mat-error>
      <mat-error *ngIf="warning2.errors?.containsDecimal">
        Warnings must be a whole number
      </mat-error>
    </mat-form-field>
  </p>

  <p> Warning 3:
    <mat-form-field>
      <input matInput type="number" formControlName='warning3' class = 'form-control' placeholder="Minutes Remaining">
      <mat-error *ngIf="warning3.errors?.min">Warnings must be at least 1</mat-error>
      <mat-error *ngIf="warning3.errors?.containsDecimal">
        Warnings must be a whole number
      </mat-error>
    </mat-form-field>
  </p>

  <!--warning error checks-->
  <mat-error *ngIf="processForm.errors?.outOfRange">
    Warnings must be at least 1 minute less than time limit
  </mat-error>
  
  <mat-error *ngIf="processForm.errors?.duplicateWarning">Warnings must be unique</mat-error>
  
  <mat-error *ngIf="processForm.errors?.warning2Before1">
    Warning 1 must be complete before adding a second warning
  </mat-error>
  
  <mat-error *ngIf="processForm.errors?.warning3Before1Or2">
    Warnings 1 and 2 must be complete before adding a third warning
  </mat-error>
  <mat-error *ngIf="processForm.errors?.descendingOrder">
    Please list warnings in decreasing order
  </mat-error>

  <br>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="accent" [disabled]="!processForm.valid"
    (click)="onSubmit()">Create Process
    </button>
  </mat-dialog-actions>
</mat-dialog-content>