<mat-card class="add-process-page">
  <h1 mat-card-title>Add Process</h1>

  <mat-card-content>
    <form class="add-process-form" #processForm="ngForm" (ngSubmit)='onSubmit()'>

      <mat-form-field>
        <input matInput type="text" name='processName' required
               ngModel #processName="ngModel"
               placeholder="Process Name">
        
        <mat-error>Process name required</mat-error>
      </mat-form-field>

      <br>
      <mat-form-field>
        <input matInput type="number" name="timeLimitH" 
              ngModel #timeLimitH="ngModel"
              required min="0" max="23" pattern="[0-9]?[0-9]"
              placeholder="Time Limit (Hours)">
        <mat-error *ngIf="timeLimitH.errors?.required">Number of hours required, 0-23</mat-error>
        <mat-error *ngIf="timeLimitH.errors?.max">Hours must be between 0 and 23</mat-error>
        <mat-error *ngIf="timeLimitH.errors?.pattern">Hours must be a positive whole number from 0 to 23</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="number" name='timeLimitM' 
               ngModel #timeLimitM="ngModel"
               required min="0" max="59" pattern="[0-9]?[0-9]"
               placeholder="Time Limit (Minutes)">
        <mat-error *ngIf="timeLimitM.errors?.required">Number of minutes required, 0-59</mat-error>
        <mat-error *ngIf="timeLimitM.errors?.max">Minutes must be between 0 and 59</mat-error>
        <mat-error *ngIf="timeLimitM.errors?.pattern">Minutes must be a positive whole number from 0 to 59</mat-error>

      </mat-form-field>

      <p> Notify me when 
        <mat-form-field>
          <input matInput type="number" name='warnings'
                ngModel #warnings="ngModel">
        </mat-form-field> 
        minutes remain
      </p>

      <br>
      <br>
      <br>
      <button mat-raised-button color="accent" [disabled]="!processForm.valid"
        (click)="onSubmit()">Create Process
      </button>

    </form>
  </mat-card-content>


</mat-card>
