<body style="background-color:rgb(25, 230, 6);">
    <h1>Start a Process Timer</h1>
  
    <!--start button from process table must start the timer-->
    <h1><countdown #cd [config]="{leftTime: realTime, notify: 5}" (event)="handleEvent1($event)"></countdown></h1>

    <button (click)="cd.pause()">Pause</button>
    <button (click)="cd.resume()">Resume</button>
    <button (click)="cd.restart()">Reset</button>
    <button (click)="resetToZero()">Cancel</button>
    
    
    <p>Status of Session: {{status}} </p>
    </body>