<body style="background-color:rgb(25, 230, 6);">
    <h1>Start a Process Timer</h1>
    <h2>Enter The Name of Your Website/App</h2>
    <input type="text" 
      #box
      placeholder="Enter Name"
      name="username"
    />
    <button (click)="getValue(box.value)">Find it's rating (vowel count)</button>
    <p>Your website/app is rated a  {{displayVal}} by most users! </p>
    
    <h2>What is your time limit? (in seconds) </h2>
    <input type="text" 
      #box2
      placeholder="Enter Time"
      name="username"
    />
    
    <button (click)="changeTime(box2.value)">Start Session</button>
    <p>Your timer is starting from {{dT}} seconds...</p>
    
    
    <h1><countdown #cd  [config]="{leftTime: realTime, notify: 5}" (event)="handleEvent1($event)"></countdown></h1>
    <button (click)="cd.pause()">Pause</button>
    <button (click)="cd.resume()">Resume</button>
    <button (click)="cd.restart()">Reset</button>
    
    
    <p>Status of Session: {{status}} </p>
    </body>