<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <span>Primary color</span>
</mat-toolbar>
<mat-toolbar color="accent">
  Accent color
</mat-toolbar>
<h2>Patterson's favorite game was: Mariokart</h2>
<h2>Crab is a mountaineer</h2>
<h3> Branavan has a PS5</h3>
<h3>Kelli created the custom theme shown in the header</h3>

