<div>
    <h1>Profile</h1>
   <h2>Your email is: {{user}}</h2> 
   <h2>Your uid is: {{uid}}</h2>
</div>



<div>
    <h2>Total usage :{{total}} showing by: {{showing}}</h2>
    <div>
      <div class="chart" >
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
  <div class="button-row">
    <button mat-button mat-raised-button color="primary" (click)="convert()">Convert</button>
  </div>
