<div>
    <h1>Profile</h1>
   <h2>Your email is: {{user}}</h2> 
   <h2>Your uid is: {{uid}}</h2>
</div>

<div>
    <h2>{{statement}}</h2>
    <div>
      <div class="chart" >
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="button-row" *ngIf="this.visible" >
      <button mat-button mat-raised-button color="primary" (click)="convert()">Convert</button>
    </div>
  </div>
