

<div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
    <h2>{{statement}}</h2>
    <div>
      <div class="chart" >
        <canvas baseChart
                [data]="pieChartData"
                [type]="pieChartType"
                [options]="pieChartOptions"
                [plugins]="pieChartPlugins">
        </canvas>
      </div>
    </div>
    <canvas id="canvas" height="18" width="96">{{ chart }}</canvas>
    <div>
      <h2>Time unit</h2>
    </div>
    
    <mat-radio-group aria-label="time unit" [(ngModel)]="timeUnit">
      <mat-radio-button value="second">Second</mat-radio-button>
      <mat-radio-button value="minute">Minute</mat-radio-button>
      <mat-radio-button value="hour">Hour</mat-radio-button>
    </mat-radio-group>
    <div class="button-row" *ngIf="this.visible" >
      <button mat-button mat-raised-button color="primary" (click)="convert(timeUnit)">Convert Time Unit</button>
    </div>
  </div>
